<header>
  <mat-toolbar
    class="bg-gray-200 dark:bg-gray-800 h-12 md:h-16 min-h-0 fixed top-0 z-10"
  >
    <mat-toolbar-row class="flex justify-between">
      <!-- SideNav toggle button -->
      <div class="flex items-center">
        <!-- Menu Button -->
        <button
          mat-icon-button
          class="hidden md:block mr-2"
          aria-label="Toggle side menu"
          role="button"
          (click)="sideNav.toggle()"
        >
          <mat-icon class="material-icons-round">menu</mat-icon>
        </button>
        <!-- Return Button -->
        <button
          mat-icon-button
          *ngIf="showBack"
          class="block xl:hidden mr-2"
          aria-label="Return Back"
          (click)="goBack()"
        >
          <mat-icon
            class="material-icons-round"
            [ngClass]="{ 'rotate-icon': rtl }"
            >chevron_left</mat-icon
          >
        </button>

        <!-- Page Title -->
        <span class="font-medium text-lg">{{ pageName | translate }}</span>
      </div>

      <!-- Action Buttons -->
      <div class="flex items-center">
        <div [dir]="rtl ? 'rtl' : 'ltr'">
          <button mat-icon-button [matMenuTriggerFor]="langMenu">
            <mat-icon class="material-icons-round">translate</mat-icon>
          </button>
          <mat-menu
            #langMenu
            class="nav-header--menu nav-header--user-menu"
            xPosition="before"
          >
            <button mat-menu-item (click)="changeLang('en')">
              <mat-icon svgIcon="gb"></mat-icon>
              <span>{{ "Global.Language.en-uk" | translate }}</span>
            </button>
            <button mat-menu-item (click)="changeLang('en')">
              <mat-icon svgIcon="us"></mat-icon>
              <span>{{ "Global.Language.en-us" | translate }}</span>
            </button>
            <button mat-menu-item (click)="changeLang('es')">
              <mat-icon svgIcon="es"></mat-icon>
              <span>{{ "Global.Language.es" | translate }}</span>
            </button>
            <button mat-menu-item (click)="changeLang('ar-eg')">
              <mat-icon svgIcon="eg"></mat-icon>
              <span>{{ "Global.Language.ar-eg" | translate }}</span>
            </button>
            <button mat-menu-item (click)="changeLang('ar')">
              <mat-icon svgIcon="sa"></mat-icon>
              <span>{{ "Global.Language.ar" | translate }}</span>
            </button>
            <button mat-menu-item (click)="changeLang('tr')">
              <mat-icon svgIcon="tr"></mat-icon>
              <span>{{ "Global.Language.tr" | translate }}</span>
            </button>
            <button mat-menu-item (click)="changeLang('in')">
              <mat-icon svgIcon="in"></mat-icon>
              <span>{{ "Global.Language.in" | translate }}</span>
            </button>
          </mat-menu>
        </div>

        <!-- Help Button -->
        <button mat-icon-button>
          <mat-icon class="material-icons-round">help_outline</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<!-- Language Menu -->

<!-------------------SIDENAV--------------------- -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav
    #sideNav
    opened="true"
    [opened]="isDesktop ? true : false"
    [mode]="isDesktop ? 'side' : 'over'"
    class="bg-gray-50 dark:bg-gray-700 mt-16 fixed w-64 border-0"
  >
    <mat-nav-list class="flex flex-col h-full">
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round">stacked_line_chart</mat-icon>
        <span class="mx-4 font-medium">{{
          "Navigation.summary" | translate
        }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> menu_book</mat-icon>
        <span class="mx-4">{{ "Navigation.catalogue" | translate }}</span>
      </mat-list-item>
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> inventory_2</mat-icon>
        <span class="mx-4">{{ "Navigation.stock" | translate }}</span>
      </mat-list-item>
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> category</mat-icon>
        <span class="mx-4">{{ "Navigation.category" | translate }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> point_of_sale</mat-icon>
        <span class="mx-4">{{ "Navigation.checkout" | translate }}</span>
      </mat-list-item>
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> assignment</mat-icon>
        <span class="mx-4">{{ "Navigation.orders" | translate }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> people</mat-icon>
        <span class="mx-4">{{ "Navigation.customers" | translate }}</span>
      </mat-list-item>
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> engineering</mat-icon>
        <span class="mx-4">{{ "Navigation.staff" | translate }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        class="flex items-center my-2"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> store</mat-icon>
        <span class="mx-4">{{ "Navigation.store" | translate }}</span>
      </mat-list-item>
      <mat-list-item
        class="flex items-center my-2 mt-auto"
        [routerLinkActive]="['is-active']"
        routerLink="/app/summary"
      >
        <mat-icon class="material-icons-round"> contact_support</mat-icon>
        <span class="mx-4">{{ "Navigation.help" | translate }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    [ngClass]="{ 'rtl-margin': rtl && isDesktop && sideNav.opened }"
    class="mt-12 md:mt-16 bg-gray-200 dark:bg-gray-900 h-full"
  >
    <main [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<nav
  id="bottomNavBar"
  role="navigation"
  class="
    flex flex-auto
    md:hidden
    bg-gray-50
    dark:bg-gray-800
    text-gray-600
    dark:text-gray-500
    w-full
    h-16
    py-2
    fixed
    bottom-0
    justify-evenly
    items-center
    z-10
  "
>
  <button
    mat-button
    routerLink="banking"
    class="h-12 leading-5 p-0 transition-colors duration-500 ease-in-out"
    [routerLinkActive]="['dark:text-purple-300', 'text-purple-600']"
  >
    <mat-icon class="material-icons-round">stacked_line_chart</mat-icon>
    <div class="font-medium text-xs mt-1">
      {{ "Navigation.summary" | translate }}
    </div>
  </button>
  <button
    mat-button
    routerLink="products"
    class="h-12 leading-5 p-0 transition-colors duration-500 ease-in-out"
    [routerLinkActive]="['dark:text-purple-300', 'text-purple-600']"
  >
    <mat-icon class="material-icons-round">local_offer</mat-icon>
    <div class="font-medium text-xs mt-1">
      {{ "Navigation.products" | translate }}
    </div>
  </button>
  <button
    mat-button
    routerLink="trucking"
    class="h-12 leading-5 p-0 transition-colors duration-500 ease-in-out"
    [routerLinkActive]="['dark:text-purple-300', 'text-purple-600']"
  >
    <mat-icon class="material-icons-round">point_of_sale</mat-icon>
    <div class="font-medium text-xs mt-1">
      {{ "Navigation.checkout" | translate }}
    </div>
  </button>
  <button
    mat-button
    routerLink="office"
    class="h-12 leading-5 p-0 transition-colors duration-500 ease-in-out"
    [routerLinkActive]="['dark:text-purple-300', 'text-purple-600']"
  >
    <mat-icon class="material-icons-round">assignment</mat-icon>
    <div class="font-medium text-xs mt-1">
      {{ "Navigation.orders" | translate }}
    </div>
  </button>
  <button
    mat-button
    routerLink="information"
    class="h-12 leading-5 p-0 transition-colors duration-500 ease-in-out"
    [routerLinkActive]="['dark:text-purple-300', 'text-purple-600']"
  >
    <mat-icon class="material-icons-round">store</mat-icon>
    <div class="font-medium text-xs mt-1">
      {{ "Navigation.store" | translate }}
    </div>
  </button>
</nav>
