<div class="bg-red-400">
  <p>products-list works!</p>

  <button
    mat-button
    routerLink="/app/products/details"
    class="h-12 leading-5 p-0"
  >
    <div class="font-medium text-xs mt-1">details</div>
  </button>

  <button mat-button routerLink="/app/products/edit" class="h-12 leading-5 p-0">
    <div class="font-medium text-xs mt-1">edit</div>
  </button>

  <button
    mat-button
    routerLink="/app/products/create"
    class="h-12 leading-5 p-0"
  >
    <div class="font-medium text-xs mt-1">create</div>
  </button>
</div>
